<div class="row">
	<div class="col-md-12 primary">
		<h1>Change the World and Save Humanity</h1>
		<h3>Volunteer and Make a Difference<h3>
		<button class="btn btn-success">Learn More</button>
	</div>
</div>

<div class="row">
	<div class="col-md-offset-1 col-md-7 static-info">
		<h1>ReachOut is a vibrant community of people working together to bring new things to life.</h1>
		<h2>Friends, fans, and inspired strangers have pledged to events on ReachOut, organizing everything from homemade necessities.</h2>
		<h2>A ReachOut event does more than raise awareness. It builds a community around your network.</h2>
	</div>

	<div class="col-md-3 numbers">
		<h1>8.0</h1>
		<h3>million people</h3>
		<p>have created a ReachOut event</p>
		<h1>2.4</h1>
		<h3>million people</h3>
		<p>have volunteered in an event</p>
		<h1>284</h1>
		<h3>thousand people</h3>
		<p>have created ten or more events</p>
	</div>
</div>

<div class="row">
	<div class="col-md-12 secondary">
		<div class="col-md-offset-2 col-md-5">
			<h1 class="hand">"Lend a Hand and ReachOut. Organize a community where we can be belong."</h1>
			<h3 class="text-center">- CEO Kevin Yang <a href="#/events/new" class="btn btn-success">Start This Movement</a></h3>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12 twitter">
		<div class="col-md-offset-1 col-md-5">
			<a class="twitter-timeline" href="https://twitter.com/TeamR3achOut" data-widget-id="568308940216090624">Tweets by @TeamR3achOut</a>
		</div>

		<div class="col-md-6 twitter-info">
			<h1>Connect with us on Twitter</h1>
			<h3>See upcoming events and network</h3>
		</div>
	</div>
</div>

<script>
	!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>

