<div class="row">
	<div class="col-md-12 primary">
		<h1>Change the World and Restore Humanity</h1>
		<h3>Volunteer and Help the Need<h3>
		<button class="btn btn-success">Learn More</button>
	</div>
</div>

<!-- <div class="row">
	<div class="col-md-12 secondary">
		<a class="twitter-timeline" href="https://twitter.com/TeamR3achOut" data-widget-id="568308940216090624">Tweets by @TeamR3achOut</a>
	</div>
</div> -->

<script>
	!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>

