<div class="row">
	<div class="col-md-12 kids">
		<h1>Discover the Community in Need</h1>
	</div>
</div>

<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<h2>ReachOut Events</h2>
		<div ng-repeat="events in main.Event.eventList">
			<div id="event">
				<a href="/#/events/{{events.id}}"><img src="{{events.image.url}}" width="450" height="350"></a>
				<div id="event-info">
					<h2>{{events.title}}</h2>
					<p>Created by: {{events.creator_id}}</p>
					<p>{{events.short}}</p>
					<p>{{events.date}}</p>
				</div>
			<div>
		</div>
	</div>
</div>

