<div class="row">
	<div class="col-md-offset-4 col-md-4 new-title">
		<h1 class="text-center">Create an Event!</h1>
		<h4 class="text-center">Add an image, goal, and other important details.</h4>
	</div>
</div>

<div class="row new-main">
	<div class="col-md-offset-2 col-md-8 new-section">
		<div class="col-md-12">
			<div class="new-part">
				<h4 class="col-md-3 title">Title:</h4>
				<input type="text" class="new-input" ng-model="main.Event.text" />
				<p>
					Your event title should be simple, specific, and memorable. These words will help people find your project, so choose them wisely! Your name will be searchable too.
				</p>
			</div>
		</div>
		
		<div class="col-md-12">
			<div class="new-part">
				<h4 class="col-md-3 title">Short Description:</h4>
				<input type="text" class="new-input" ng-model="main.Event.short" />
				<p>
					If you had to describe what you're creating in one tweet, how would you do it?
				</p>
			</div>
		</div>

		<div class="col-md-12">
			<div class="new-part">
				<h4 class="col-md-3 title">Event Description:</h4>
				<p>
					Use this section to add all the descriptions to this event. Give reasons to volunteer and include details that will make people want to pledge. It's up to you to make the case for your event.
				</p>
				<textarea type="text" ng-model="main.Event.description"></textarea>
			</div>
		</div>

		<div class="col-md-12">
			<div class="new-part">
				<h4 class="col-md-3 title">Location:</h4>
				<input type="text" class="new-input" ng-model="main.Event.location" />
				<p>
					A full address should be beneficial. Be sure to include parking and other helpful information in the event description above.
				</p>
			</div>
		</div>

		<div class="col-md-12">
			<div class="new-part">
				<h4 class="col-md-3 title">Pledge Goal:</h4> 
				<input type="number" min="1" ng-model="main.Event.goal" />
				<p>
					Your pledge goal should be the minimum amount needed to complete the event to fulfill community service. 
				</p>
			</div>
		</div>

		<div class="col-md-12">
			<div class="new-part">
				<h4 class="col-md-3 title">Hours:</h4>
				<input type="number" min="1" ng-model="main.Event.hours" />
				<p>
					This section will declare how many hours a volunteer will accumulate upon finishing the event. Hours will be checked off by the event creator after the duration of the event.
				</p>
			</div>
		</div>

		<div class="col-md-12">
			<div class="new-part">
				<h4 class="col-md-3">Date of Event:</h4>
				<input type="date" ng-model="main.Event.date" />
			</div>
		</div>

		<input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)" />	

		<div class="col-md-8">
			<button ng-click="main.Event.addEvents()" class="btn btn-success">Create</button>
		</div>

	</div>
</div>




<!-- <input type="file" ng-model="main.Event.image"> -->

<!-- <button ng-click="main.Event.addEvents()">Create</button>	 -->
	


