<h1>Create an Event!</h1>


<div>
	Title:
	<input type="text" ng-model="main.Event.text" />
</div>

<div>
	Description: 
	<textarea type="text" ng-model="main.Event.description"></textarea>
</div>

<div>
	Date:
	<input type="date" ng-model="main.Event.date" />
</div>

<div>
	Pledge Goal: 
	<input type="number" min="1" ng-model="main.Event.goal" />
</div>

<div>
	Short Description:
	<input type="text" ng-model="main.Event.short" />
</div>

<div>
	Hours:
	<input type="number" ng-model="main.Event.hours" />
</div>

<div>
	<input type="text" ng-model="main.Event.location" placeholder="Address" />
</div>

<!-- <div>
	<input type="file" nv-file-select uploader="uploader" />
	<ul>
		<li ng-repeat="item in uploader.queue">
	                Name: <span ng-bind="item.file.name"></span><br/>
	                <button ng-click="item.upload()">upload</button>
	    </li>
    </ul>
</div> -->

<button ng-click="main.Event.addEvents()">Create</button>	


