// // Place all the styles related to the events controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/

.kids {
	background: image-url('kids.jpg') no-repeat center;
	background-size: cover;
	width: 100%;
	height: 375px;
	margin-bottom: 10px;
	h1 {
		color: white;
		margin-top: 150px;
		margin-left: 75px;
	}
}

#event {
	border: 1px solid black;
	border-radius: 10px;
	margin-bottom: 30px;
	#event-info {
		display: inline-block;
		margin-left: 10px;
		h2 {
			color: #104E8B;
			font-family: 'Anton', sans-serif;
		}	
	}
	img {
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
	}
}

.pledge-info {
	font-size: 2.4em;
	text-align: center;
}

#profile-created div {
	display: inline-block;
	#created-info {
		border: 1px solid black;
		border-radius: 10px;
		margin: 20px;
		text-align: center;
		position: relative;
		img {
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
		}
	}
}

#joined {
	border: 1px solid black;
	border-radius: 10px;
	margin-bottom: 30px;
	#joined-info {
		display: inline-block;
	}
	img {
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
	}
}

.profile-name {
	text-align: center;
}

.new-title {
	margin-bottom: 30px;
}

.new-section,
.new-part {
	border: 1px solid black;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 20px;
	margin-top: 7px;	
	h4 {
		margin-bottom: 30px;
	}
	.new-input {
		width: 500px;
		border-radius: 10px;
	}
	textarea {
		width: 500px;
		height: 300px;
		border-radius: 10px;
	}
	.title {
		padding: 10px;
	}
}

.new-part {
	background-color: #EDEDED;
}

.new-section {
	padding: 20px;
}


